/* .about {
  margin: 0px auto;
  text-align: center;
  max-width: 800px;
  display: flex;
  flex-direction: column;
} */

.about {
  margin: 0px auto;
  width: 100%;
  /* width: 612px; */
  max-width: 950px;
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}

.about-header {
  display: flex;
  margin-bottom: 15px;
  /* width: 1px; */
  /* width: 300px; */
}

.about-header::before {
  content: "01.";
  display: flex;
  color: #ce2d2d;
  position: relative;
  margin-right: 10px;
}
.about-header:nth-of-type(2):before {
  content: "02.";
}
.about-header::after {
  content: "";
  display: flex;
  height: 1px;
  width: 300px;
  background-color: #ce2d2d;
  position: relative;
  margin: auto 0px;
  margin-left: 20px;
}

.about-section {
  margin-bottom: 25px;
}

.skills-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  float: left;
  justify-content: space-between;
}

.skills-column {
  /* margin-right: 75px; */
  font-weight: 300;
  width: 150px;
  margin-bottom: 10px;
}

.skills-header {
  font-weight: 800;
  font-size: 16px;
  padding-bottom: 2.5px;
}
