.home-container {
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 700px) {
  .home-container {
  }
}

.home-text-container {
  font-size: 1.75em;
  line-height: 1.75em;
  display: flex;
  flex-direction: column;
  position: relative;
  height: inherit;
  max-width: 400px;
  justify-content: center;
  background: none;
  color: black;
}

.home-text-container-header {
  font-size: 2em;
  font-weight: 700;
}

.home-text-container-location {
  text-align: center;
  font-size: 1em;
  font-weight: 200;
}

.home-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.home-link {
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 0.65em;
  color: white;
  font-weight: 300;
  opacity: 1;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.25em;
}

.home-link:first-child {
  background-color: #000;
}

.home-link:last-child {
  background-color: #cf000f;
}

.home-link:first-child:hover {
  color: #cf000f;
  font-weight: 400;
}

.home-link:last-child:hover {
  color: #000;
  font-weight: 400;
}

.home-link-text {
  vertical-align: middle;
  line-height: normal;
}
