.home-container {
  /* height: inherit; */
  /* padding-top: 15px; */
  width: 100%;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* font-family: 'Roboto', sans-serif; */
  /* font-size: 18px; */
  position: relative;
  margin-top: calc(50vh - 177px);
  /* overflow: hidden; */
  box-sizing: border-box;

}

.home-text-container {
  font-size: 2.0rem;
  line-height: 2.0rem;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  /* margin-top: calc(-75px); */
  /* margin-bottom: calc(100% - 150px); */
  left: 0;
  right: 0;
  width: 95vw;
  max-width: 400px;
  /* height: calc(95vw / 3); */
  max-height: 133px;
  padding-top: 55px;
  padding-bottom: 0px;
  justify-content: center;
  font-weight: 900;
  background: none;
  /* outline: 5px solid black; */
  color: black;
  /* box-shadow: -3px 5px 20px -3px rgba(0,0,0,0.75); */
  /* box-shadow: -0px 10px 15px 5px rgba(0,0,0,0.75); */
  /* transform: rotateX(90deg) translate3d(0, 0, 50px); */
  /* transform: perspective(100cm) rotateX(-10deg) rotateY(10deg); */
  /* animation-name: shifting;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}

.home-text-header {
  /* position: relative; */
  top: 0px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 24px;
  font-weight: 900;
  background: white;
  width: calc(100% - 40px);
  color: black;
  position: relative;
}

.home-text-container-location {
  text-align: center;
  margin-top: 15px;
  font-size: 2.0rem;
  font-weight: 200;
  background: rgba(255,255,255,0.5);
}

.home-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* margin-left: 4rem;
  margin-right: 4rem; */
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.home-link {
  text-align: center;
  opacity: 1;
  height: 100%;
  /* background-color: #CF000F; */
  width: 50%;
  font-weight: 200;
}

.home-link:hover {
  /* opacity: 0.85; */
  font-weight: 400;
}

.home-link-text {
  display: inline-block;
  font-size: 1rem;
  /* line-height: 100%; */
  height: 100%;
  width: 100%;
  font-weight: inherit;
  text-align: center;
  color: white;
  /* padding-left: 15px;
  padding-right: 15px; */
  opacity: 1;
  /* border: 3px solid #CF000F; */
}

.mountains-image {
  /* position: relative;
  top: 0px; */
  display: block;
  position: fixed;
  width: 200%;
  /* height: 350px; */
  bottom: -125px;
  overflow: hidden;
  z-index: -1;
}

.background1 {
  position: fixed;
  left: 0px;
  bottom: -200px;
  width: 50%;
  /* height: 100vh; */
}

.background2 {
  position: fixed;
  right: 0px;
  bottom: -200px;
  /* width: 50%; */
  /* bottom: 0px; */
  width: 50%;
  /* height: 100vh; */
}
