.portfolio-header {
  display: flex;
  margin-bottom: 15px;
  /* width: 1px; */
  /* width: 300px; */
}

.portfolio-header::before {
  content: "01.";
  display: flex;
  color: #ce2d2d;
  position: relative;
  margin-right: 10px;
}
.portfolio-header:nth-of-type(2):before {
  content: "02.";
}
.portfolio-header::after {
  content: "";
  display: flex;
  height: 1px;
  width: 300px;
  background-color: #ce2d2d;
  position: relative;
  margin: auto 0px;
  margin-left: 20px;
}

.project {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #fff;
  box-shadow: -3px 5px 13px -3px rgba(0, 0, 0, 0.75); */
  margin-bottom: 25px;
  /* flex-wrap: wrap; */
}

.project-image {
  /* width: 500px; */
  width: 450px;
}

.project-info {
  flex: 1;
  max-width: 375px;
  min-width: 350px;
  display: flex;
  flex-direction: column;
}

.project-title,
.project-details,
.project-tags {
  margin-bottom: 10px;
}

.project-links {
  font-size: 2em;
  /* margin-right: 15px; */
}

.project-links:last-child {
  /* margin-right: 0px; */
}

.other-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  position: relative;
  gap: 15px 15px;
  margin-bottom: 25px;
  height: 100%;
}

@media screen and (max-width: 775px) {
  .portfolio {
    max-width: 500px;
  }
  .portfolio-header {
    display: none;
  }
  .project {
    flex-direction: column;
    text-align: center;
    margin-bottom: 50px;
  }
  .project-title {
    font-size: 2em;
  }
  .project-info {
    max-width: 90vw;
    min-width: 90vw;
  }
  .project:nth-child(odd) {
    flex-direction: column-reverse;
  }
  .project-image {
    display: none;
  }
  .project-image-mobile {
    margin-bottom: 15px;
    width: 90vw;
  }
  /* .portfolio-header {
    text-align: center;
    justify-content: center;
    border-bottom: 1px solid #ce2d2d;
  } */
  .project-title {
    margin-top: 0;
  }

  /* .portfolio-header::before, */
  /* .portfolio-header::after {
    display: none;
  } */
}

@media screen and (min-width: 776px) {
  .project:nth-child(odd) {
    text-align: right;
  }
  .project-image-mobile {
    display: none;
  }
}
