@font-face {
  font-family: "Roboto Light";
  src: url("../../static/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../static/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../../static/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../../static/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("../../static/NexaLight.otf");
}
@font-face {
  font-family: "Nexa Regular";
  src: url("../../static/NexaRegular.otf");
}
@font-face {
  font-family: "Nexa XBold";
  src: url("../../static/NexaXBold.otf");
}
@font-face {
  font-family: "Nexa Bold";
  src: url("../../static/NexaBold.otf");
}

/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"); */

.resume-container {
  margin: 0px auto;
  /* width: 100%; */
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
}

.resume-page {
  max-width: 612px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto Regular";
}

.k-pdf-export .svg-inline--fa {
  vertical-align: 0;
}

@media screen and (max-width: 700px) {
  .resume-page {
    transform: scale(0.5);
    transform-origin: top center;
    width: 305.5px;
    height: 396px;
  }
  .resume-container {
    /* height: 100px;  */
  }
}

.resume-pdf {
  position: relative;
  height: 792px;
  width: 612px;
  background-color: white;
  box-shadow: -3px 5px 13px -3px rgba(0, 0, 0, 0.75);
  margin-bottom: 25px;
}

.resume-download {
  justify-content: center;
  display: flex;
  margin-bottom: 25px;
}
.resume-download-button {
  display: flex;
  position: relative;
}
.resume-download-button span {
  margin: auto 0px;
  margin-left: 5px;
  position: relative;
  bottom: 1px;
}

.resume-page ul {
  font-family: "Roboto Light";
  font-size: 12px;
}

.skills {
  columns: 3;
}

.resume-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  justify-content: space-between;
  padding: 0.25in;
  padding-bottom: 0;
}

.resume-header-name {
  text-align: left;
  font-size: 2em;
  padding: 0px;
  font-family: "Roboto Medium";
  /* font-weight: 700; */
}

.resume-contact-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
  width: 50%;
  text-align: right;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.resume-body {
  padding: 0px 0.25in;
  font-size: 1em;
}

.resume-footer {
  /* margin-top: 25px; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 10px 0px;
}

.resume-footer-links {
  margin: 0px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
}

.resume-footer-links li {
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Light";
  font-size: 12px;
  display: flex;
  /* height: 25px; */
  margin: 0px auto;
  line-height: 1;
}

.resume-footer-links span {
  height: 12px;
  position: relative;
  bottom: 1px;
}
/* .resume-footer-links:last-child span {
  bottom: 0px;
} */
.resume-footer-links li .fa-li {
  position: static;
  /* margin-right: 5px; */
}

.fa-ul {
  margin-left: 0px;
}

.resume-section-header {
  color: #000;
  font-family: "Roboto Bold";
  /* border-bottom: 2px solid #000; */
  font-size: 18px;
  display: flex;
  /* width: 100%; */
  margin-bottom: 5px;
  margin-left: 0px;
  padding-right: 10px;
}

.resume-section-header-number {
  /* display: flex; */
  color: #ce2d2d;
  position: relative;
  margin-right: 5px;
}

.resume-section-header::after {
  content: "";
  display: flex;
  height: 1px;
  width: 100px;
  background-color: #ce2d2d;
  position: relative;
  margin: auto 0px;
  margin-left: 5px;
  top: 2px;
  /* padding-left: 20px; */
}

.resume-section {
  margin: 0px 30px;
  margin-bottom: 15px;
}

.experience-title {
  font-family: "Roboto Medium";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.experience-subtitle {
  font-family: "Roboto Light";
  font-size: 14px;
}

.experience-details {
  font-family: "Roboto Light";
  font-size: 12px;
  margin-bottom: 5px;
  /* list-style: circle; */
  margin-left: 15px;
  /* padding-left: 15px; */
}
.experience-details li:before {
  content: "-";
  font-family: "Roboto Bold";
  margin-left: -10px;
  margin-right: 5px;
  color: #ce2d2d;
}
