@font-face {
  font-family: "Roboto Light";
  src: url("../../static/Roboto-Light.ttf");
}
@font-face {
  font-family: "Roboto Regular";
  src: url("../../static/Roboto-Regular.ttf");
}
@font-face {
  font-family: "Roboto Medium";
  src: url("../../static/Roboto-Medium.ttf");
}
@font-face {
  font-family: "Roboto Bold";
  src: url("../../static/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Nexa Light";
  src: url("../../static/NexaLight.otf");
}
@font-face {
  font-family: "Nexa Regular";
  src: url("../../static/NexaRegular.otf");
}
@font-face {
  font-family: "Nexa XBold";
  src: url("../../static/NexaXBold.otf");
}
@font-face {
  font-family: "Nexa Bold";
  src: url("../../static/NexaBold.otf");
}

/* @import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"); */

.resume {
  margin: 0px auto;
  width: 100%;
  max-width: 950px;
  display: flex;
  flex-direction: column;
}
.resume-container {
  margin: 0px auto;
  /* width: 100%; */
  /* margin-top: 25px; */
  display: flex;
  flex-direction: column;
}

.resume-page {
  max-width: 618px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: "Roboto Regular";
}

.k-pdf-export .svg-inline--fa {
  vertical-align: 0;
}

.resume-pdf {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 792px;
  width: 618px;
  background-color: white;
  box-shadow: -3px 5px 13px -3px rgba(0, 0, 0, 0.75);
  /* margin-bottom: 1em; */
}

.resume-download {
  justify-content: center;
  display: flex;
  margin: 25px;
}
.resume-download-button {
  display: flex;
  /* position: relative; */
  justify-content: center;
  padding: 20px;
  /* padding-top: 0px; */
  text-align: center;
  margin: 0px auto;
  font-size: 2em;
  padding-top: 1em;
}
.resume-download-button span {
  margin: auto 0px;
  margin-left: 10px;
  position: relative;
  bottom: 1px;
}

.resume-page ul {
  font-family: "Roboto Light";
  font-size: 12px;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 25px;
  /* columns: 4; */
}

.resume-header {
  display: flex;
  flex-direction: row;
  /* margin-bottom: 1em; */
  justify-content: space-between;
  padding: 0.25in;
  padding-bottom: 1em;
}

.resume-header-name {
  text-align: left;
  font-size: 3.5em;
  padding: 0px;
  font-family: "Roboto Medium";
  /* font-weight: 700; */
}

.resume-contact-info {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box; */
  display: grid;
  grid-template-columns: 150px;
  /* width: 50%; */
  text-align: right;
}

.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.resume-body {
  flex: 1;
  padding: 0px 0.25in;
  font-size: 1em;
}

.resume-section-header {
  color: #000;
  font-family: "Roboto Bold";
  /* border-bottom: 2px solid #000; */
  font-size: 18px;
  display: flex;
  /* width: 100%; */
  margin-bottom: 0.25em;
  margin-left: 0px;
  padding-right: 10px;
}

.resume-section-header-number {
  /* display: flex; */
  color: #ce2d2d;
  position: relative;
  margin-right: 5px;
}

.resume-section-header::after {
  content: "";
  display: flex;
  height: 1px;
  width: 100px;
  background-color: #ce2d2d;
  position: relative;
  margin: auto 0px;
  margin-left: 5px;
  top: 2px;
  /* padding-left: 20px; */
}

.resume-section {
  margin: 0px 30px;
  margin-bottom: 10px;
  margin-right: 0px;
}

.experience-title {
  font-family: "Roboto Medium";
  font-size: 14px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.experience-subtitle {
  font-family: "Roboto Medium";
  font-size: 12px;
}

.experience-details {
  font-family: "Roboto Light";
  font-size: 12px;
  margin-bottom: 0.25em;
  /* list-style: circle; */
  margin-left: 15px;
  /* padding-left: 15px; */
}
.experience-details li:before {
  content: "-";
  font-family: "Roboto Bold";
  margin-left: -10px;
  margin-right: 5px;
  color: #ce2d2d;
}

.resume-footer {
  /* margin-top: 25px; */
  /* position: absolute; */
  bottom: 0px;
  left: 0px;
  /* padding: 10px 0px; */
  /* padding-top: 1em; */
  /* margin-bottom: 10px; */
  padding: 0.25in;
  padding-bottom: 16px;
}

.resume-footer-links {
  /* margin: 0px 24px; */
  /* display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box; */
  /* padding: 0px 0.25in; */
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 12px 12px 12px;
  column-gap: 15px;
  row-gap: 5px;
  text-align: left;
  margin: auto 0px;
}

.resume-footer-links li {
  cursor: pointer;
  display: inline-block;
  font-family: "Roboto Light";
  font-size: 12px;
  display: flex;
  /* height: 25px; */
  margin: 0px auto;
  line-height: 1;
  /* padding: 5px 0px; */
}

.resume-footer-links span {
  height: 12px;
  position: relative;
  /* bottom: 1px; */
  flex-grow: 1;
  /* text-align: right; */
}
/* .resume-footer-links:last-child span {
  bottom: 0px;
} */
.resume-footer-links li .fa-li {
  position: static;
  /* margin-right: 5px; */
}

.fa-ul {
  margin-left: 0px;
}

/* @media screen and (max-width: 500px) {
  .resume-container {
    transform: scale(0.5);
    transform-origin: top center;
  }
} */

@media screen and (min-width: 499px) and (max-width: 700px) {
  .resume-container {
    transform: scale(0.75);
    transform-origin: top center;
    max-width: 306px;
    max-height: 396px;
    /* height: 100%; */
  }
  .resume-pdf {
    height: 800px;
    width: 618px;
  }
  .resume-download-button {
    padding-top: 2em;
    /* transform: scale(2); */
  }
}

@media screen and (max-width: 498px) {
  .resume-container {
    transform: scale(0.55);
    transform-origin: top center;
    transform-origin: top center;
    max-width: 306px;
    max-height: 396px;
    /* height: 100%; */
  }
  .resume-pdf {
    height: 800px;
    width: 618px;
  }
  .resume-download-button {
    padding-top: 2em;
    /* transform: scale(2); */
  }
}
