.footer {
  
  background: #000;
  width: 100vw;
  /* z-index: 999999; */
  position: sticky;
  bottom: 0px;
  padding-bottom: env(safe-area-inset-bottom);
  /* padding-bottom: calc(env(safe-area-inset-bottom) * 1.5); */
  /* margin-top: calc(env(safe-area-inset-bottom) * 1.5); */
  /* transform: translateY(100vh); */
  left: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  /* height: 100px; */
}

.footer-links {
  background: #000;
  /* padding: 0px 15px; */
  position: relative;
  /* bottom: env(safe-area-inset-bottom); */
  display: flex;
  flex-direction: row;
  /* height: 80px; */
  /* margin-bottom: env(safe-area-inset-bottom); */
  /* margin-bottom: calc(env(safe-area-inset-bottom) * 1.5); */
}

.footer-link {
  /* position: relative; */
  /* bottom: 112px; */
  /* bottom: 100px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: auto;
  color: #fff;
  background: #000;
  /* height: 80px; */
  text-align: center;
  padding: 21px 0px;
  font-size: 32px;
  /* height: 100%; */
}

.footer-link.active {
  color: #cf000f;
}

.footer-link::after {
  background-color: #000;
}

.footer-link:before {
  background-color: #000;
}

.footer-link.active::after {
  background-color: #000;
}

.footer-link-text {
  font-size: 16px;
}

.footer-link-icon {
  display: flex;
  justify-content: center;
}

.footer-social-links {
  background: red;
}
.footer-social-link {
  height: 1em;
  width: 1em;
}

@media screen and (min-width: 701px) {
  /* .header-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 42px;
    bottom: 0px;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    min-width: 400px;
    text-align: center;
  } */
  .footer {
    display: none;
  }
}
