header {
  display: flex;
  justify-content: space-between;
  /* font-family: proxima-nova; */
  height: 50px;
}
.header {
  margin: 0px;
  padding: 15px 30px;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  z-index: 999999;
}

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 500;
  height: 100%;
  font-size: 1.5em;
  z-index: 9999999;
  transition: all 0.75s linear;
}

.header-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 400;
  color: #000;
  margin-right: 20px;
}

.header-link:last-child {
  margin-right: 0;
}

.header-link.active {
  color: #ce2d2d;
  transition: all 0.75s linear;
}

.header-link.active:hover {
  opacity: 1;
  cursor: default;
}

#hamburger {
  position: absolute !important;
  width: 50px !important;
  height: 50px !important;
  right: 20px !important;
  top: 15px !important;
  padding: 0 !important;
  z-index: 9999999;
}

.hamburger:active,
.hamburger:focus,
.hamburger:hover {
  outline: none !important;
  opacity: 1 !important;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  height: 2px !important;
  border-radius: 0px !important;
  background-color: #000;
  /* transition: background-color 0.75s linear !important; */
  /* transition: background-color 0.75s linear !important; */
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
  background-color: #fff !important;
  /* transition: background-color 0.75s linear 0.75s; */
}

#mobileMenu {
  z-index: 999999 !important;
}
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute !important;
  width: 36px !important;
  height: 30px !important;
  right: 20px !important;
  top: 36px !important;
}

.bm-menu-wrap {
  top: 0px;
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  position: absolute;
  background: rgba(0, 0, 0, 0.95);
  padding-top: 80px;
  /* padding: 2.5em 1.5em 0; */
  font-size: 1.15em;
  width: 100vw;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #000;
}

/* Wrapper for item list */
.bm-item-list {
  color: #f0f0eb;
  display: flex;
  flex-direction: column;
}

/* Styling of overlay */
.bm-overlay {
  background: 0 !important;
}

.menu-item:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.menu-item {
  display: inline-block;
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  width: 100%;
  padding: 10px 0px;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.menu-item.active {
  color: #ce2d2d;
}

@media screen and (min-width: 701px) {
  #mobile-links {
    display: none;
  }

  .header-links {
    /* width: 400px; */
    /* max-width: 650px; */
    /* margin: 0px auto; */
    font-size: 0.85em;
  }
}
@media screen and (max-width: 700px) {
  .header-links {
    display: none;
  }

  .header {
    padding: 15px;
    /* font-size: 14px; */
  }

  .header-logo {
    color: #fff;
  }
}
