/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap"); */
@import url("https://pro.fontawesome.com/releases/v5.8.2/css/all.css");

body {
  font-family: proxima-nova, sans-serif;
  /* font-size: 16px; */
  margin: 0px;
  color: black;
  background-color: white;
  overflow: auto;
}

h1 {
  padding: 0px;
  margin: 0px;
}

h2 {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

nav {
  position: sticky;
  top: 0px;
  right: 0px;
  /* background: white; */
  z-index: 10000000;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  margin: 0px auto;
  /* width: 85vw; */
  max-width: 950px;
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
  display: flex;
  flex-direction: column;
}

#page-wrap {
  padding: 0px 30px;
}

@media screen and (max-width: 700px) {
  #page-wrap {
    padding: 0px 15px;
  }
}

.particles-background {
  position: fixed;
  z-index: -1;
  height: calc(100vh - 65px);
  top: 65px;
  width: 100vw;
}

.particles-canvas {
  width: 100%;
  height: 100%;
}

.particles-background {
  /* display: none; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
